<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imcp.basic.mapper.UserMapper">
    <select id="queryUser" resultType="User">
        select id,guid,userCode,userName,sex,email,
        userBirth,idCard,mobileno,address,createDate,status,remark from user
        where userCode = #{userCode} and passWord = #{passWord} and status = 0
    </select>

</mapper>